<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/hellosophiee">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i
                                    class="fas fa-code-branch fa-stack-1x fa-inverse"
                                ></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; My Blog 2020
                </p>
            </div>
        </div>
    </div>
</footer>
